* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.app-full-window {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.app-full-window {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-window {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.app-wrapper {
  flex: 1 1 auto;
  display:flex;
}


.app-nav-drawer {
  flex: 0 0 250px;
  margin: 0;
  border-right: 2px solid indigo;
  border-bottom: 2px solid indigo;
}

.app-main-div {
  flex: 1;
  margin: 0;
}

.nav-divider {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

#home-button, #home-button-drawer {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  padding-right: 0;
}

.app-nav-drawer, .app-nav-item {
  display: flex;
  flex-direction: column;
}

.app-nav-item {
  display: flex;
  min-height: 32px;
  height: 48px;
  border-bottom: 2px solid indigo;;
  padding: 0 5px 0 10px;
  cursor: pointer;
  align-items: flex-start;
  justify-content: center;
}

.app-nav-item:last-of-type {
  border-bottom: none;
}

.app-nav-item:hover:not(.is-selected) {
  background-color: lightblue;
}

.app-nav-item.is-selected {
  justify-content: flex-start;
  height: 100%;
  cursor: default;
}

.app-nav-item.is-selected .mdl-navigation__link {
  padding-top: 4px;
  font-weight: bolder;
}

.app-nav-subtab-list {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

.app-main-div {
  border-bottom: solid 2px indigo;
}

.app-main-core {
  height: 100%;
  flex: 3;
}

.app-main-det {
  height: 100%;
  flex: 1;
  border-left: solid 1px steelblue;
}
