.valmain-table-div {
  margin: 10px;
}

.valmain-table {
  width: 100%;
  table-layout: fixed;
}

.valmain-thead-valdriver {
  text-align: left !important;
  font-size: 1.5em !important;
  color: indigo !important;
  width: 300px !important;
  border-right: solid 1px black;
  vertical-align: top !important;
  padding-left: 1em !important;
  padding-top: .5em !important;
}

.valmain-table-time-cell {
  font-style: italic;
  font-weight: bold;
  font-size: 1em !important;
  padding: 0 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-bottom: 1px solid black;
  border-right: 1px dotted grey;
  /*width: calc(100%/12);*/
}


.valmain-table tr,
.valmain-table th,
.valmain-table td {
  min-height: 20px !important;
  max-height: 48px !important;
  height: auto !important;
}

.valmain-table-body-row-header {
  padding: .4em 1em !important;
  border-right: solid 1px black;
}

.valmain-table-body-row-header span {
  width: 90%;
  text-align: left;
}

.valmain-table-body-row-header div {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

.valmain-table-icons-type {
  padding-right: 5px !important;
  font-size: 1.3em !important;
}

.valmain-table-icons-menu {
  font-size: 1.5em !important;
  display:none;
}

.valmain-table-body-row-header:hover
.valmain-table-icons-menu {
  display: inline-block;
}

.valmain-table-body-cell {
  padding: .2em !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-style: italic !important;
}

.valmain-cell-positive {
  color: darkgreen;
  background-color: hsl(120, 100%, 95%);
}

.valmain-cell-negative {
  color: darkred;
  background-color: hsl(0, 100%, 95%);
}

.spacer {
  padding-left: 1.5em;
}
