.valmain-table-div {
  margin: 10px;
}

.valmain-table {
  width: 100%;
}

.valmain-thead-valdriver {
  text-align: left !important;
  font-size: 1.5em !important;
  color: black !important;
  width: 240px !important;
  border-right: solid 1px black;
  vertical-align: top !important;
  padding-left: 1em !important;
  padding-top: .5em !important;
}

.valmain-table-time-cell {
  font-style: italic;
  font-weight: bold;
  font-size: 1em !important;
  padding: 0 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-bottom: 1px solid black;
  border-right: 1px dotted grey;
  /*width: calc(100%/12);*/
}


.valmain-table tr,
.valmain-table th,
.valmain-table td {
  min-height: 20px !important;
  max-height: 48px !important;
  height: auto !important;
}

.valmain-table-body-row-header {
  padding: .2em;
  font-size: 1em;
  vertical-align: middle;
  text-align: left;
  border-right: solid 1px black;
}

.valmain-table-body-cell {
  padding: .2em !important;
  vertical-align: middle;
  text-align: center;
}

.spacer {
  padding-left: 1.5em;
}
