.valmain-table-container {
  flex: 1;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
}

.valmain-table-body {
  overflow-y: scroll;
  max-height: 100%;
  /*height: 100%;*/
  border-bottom: solid 1px black;
}

.valmain-table-head,
.valmain-table-body-row {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.valmain-thead-valdriver,
.valmain-table-body-row-header {
  flex: 1 0 300px;
}

.valmain-table-time-cell,
.valmain-table-body-cell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valmain-thead-valdriver {
  font-size: 1.5em !important;
  color: indigo !important;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  padding: .5em 0 .5em .75em;
}

.valmain-table-time-cell {
  font-style: italic;
  font-weight: bold;
  font-size: 1em !important;
  text-align: center !important;
  border-bottom: 1px solid black;
  border-right: 1px solid lightgrey;
}

.valmain-table-body-row-header {
  padding: .3em .2em;
  border-right: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valmain-table-body-row-header span {
  width: 100%;
  text-align: left;
}

.valmain-table-icons-type {
  padding-right: 5px !important;
  font-size: 1.3em !important;
}

button.valmain-table-icons {
  height: 24px !important;
  min-height: 24px !important;
  width: 24px !important;
  min-width: 24px !important;
  font-size: 1em !important;
}

.valmain-table-icons-menu {
  font-size: 1.3em !important;
  font-weight: lighter;
  display: none;
}

.valmain-table-body-row-header:hover
.valmain-table-icons-menu {
  display: inline-block;
}

.valmain-table-body-cell {
  vertical-align: middle !important;
  text-align: center !important;
  font-style: italic !important;
  border-right: 1px solid transparent;
}

.valmain-cell-positive {
  color: darkgreen;
  background-color: hsl(120, 100%, 95%);
}

.valmain-cell-negative {
  color: darkred;
  background-color: hsl(0, 100%, 95%);
}
